openagency.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 (http://www.altova.com) by DBC A/S (DBC A/S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://oss.dbc.dk/ns/openagency" targetNamespace="http://oss.dbc.dk/ns/openagency">
	<xs:annotation>
		<xs:documentation xml:lang="en">Open Agency service</xs:documentation>
		<xs:documentation xml:lang="en">This XML Schema describes the data and structure of data of the Open Agency service.</xs:documentation>
		<xs:documentation xml:lang="en">This file is part of OpenAgency.
Copyright (c) 20010, Dansk Bibliotekscenter a/s,  Tempovej 7-11, DK-2750 Ballerup, Denmark. CVR: 15149043

OpenAgency is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

OpenAgency is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with OpenAgency.  If not, see http://www.gnu.org/licenses/</xs:documentation>
	</xs:annotation>
	<xs:element name="automationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:authentication" minOccurs="0"/>
				<xs:element ref="oa:autService"/>
				<xs:element ref="oa:materialType"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="automationResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="oa:autPotential"/>
				<xs:element ref="oa:autProvider"/>
				<xs:element ref="oa:autRequester"/>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="encryptionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:authentication" minOccurs="0"/>
				<xs:element ref="oa:email"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="encryptionResponse">
		<xs:complexType>
			<xs:choice>
				<xs:choice>
					<xs:element ref="oa:encryption" maxOccurs="unbounded"/>
					<xs:element ref="oa:error"/>
				</xs:choice>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="endUserOrderPolicyRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:authentication" minOccurs="0"/>
				<xs:element ref="oa:orderMaterialType"/>
				<xs:element ref="oa:ownedByAgency"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="endUserOrderPolicyResponse">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="oa:willReceive"/>
					<xs:element ref="oa:condition" minOccurs="0" maxOccurs="2"/>
				</xs:sequence>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="nameListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:authentication" minOccurs="0"/>
				<xs:element ref="oa:libraryType" minOccurs="0"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nameListResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="oa:agency" maxOccurs="unbounded"/>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="pickupAgencyListRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">Retrieve a list of agencies and branches based on either library type or library parameters. Repeated parameters are combined with OR, while different parameters are combined with AND</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:authentication" minOccurs="0"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="oa:agencyId" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="oa:agencyName" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="oa:postalCode" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="oa:city" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:element ref="oa:libraryType" minOccurs="0"/>
				</xs:choice>
				<xs:element ref="oa:pickupAllowed" minOccurs="0"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pickupAgencyListResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="oa:library" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="openSearchProfileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:authentication" minOccurs="0"/>
				<xs:element ref="oa:profileName" minOccurs="0"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="openSearchProfileResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="oa:profile" maxOccurs="unbounded"/>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="remoteAccessRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:authentication" minOccurs="0"/>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="remoteAccessResponse">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="oa:agencyId"/>
					<xs:element ref="oa:subscription" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="requestOrderRequest">
		<xs:annotation>
			<xs:documentation>Retrieve a prioritised list of which agencies materials must be ordered from for a given agency</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:authentication" minOccurs="0"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="requestOrderResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="oa:agencyId" maxOccurs="unbounded"/>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="serviceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:authentication" minOccurs="0"/>
				<xs:element ref="oa:service"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="serviceResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="oa:serverInformation"/>
				<xs:element ref="oa:information"/>
				<xs:element ref="oa:orsAnswer"/>
				<xs:element ref="oa:orsCancel"/>
				<xs:element ref="oa:orsCancelReply"/>
				<xs:element ref="oa:orsCancelRequestUser"/>
				<xs:element ref="oa:orsEndUserRequest"/>
				<xs:element ref="oa:orsEndUserIllRequest"/>
				<xs:element ref="oa:orsItemRequest"/>
				<xs:element ref="oa:orsLookupUser"/>
				<xs:element ref="oa:orsRecall"/>
				<xs:element ref="oa:orsReceipt"/>
				<xs:element ref="oa:orsRenew"/>
				<xs:element ref="oa:orsRenewAnswer"/>
				<xs:element ref="oa:orsRenewItemUser"/>
				<xs:element ref="oa:orsShipping"/>
				<xs:element ref="oa:userOrderParameters"/>
				<xs:element ref="oa:userParameters"/>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="autPotential">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:materialType"/>
				<xs:element ref="oa:responder" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="autProvider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:provider"/>
				<xs:element ref="oa:materialType"/>
				<xs:element ref="oa:willReceive"/>
				<xs:element ref="oa:autPeriod"/>
				<xs:element ref="oa:autId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="autRequester">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:requester"/>
				<xs:element ref="oa:materialType"/>
				<xs:element ref="oa:willSend"/>
				<xs:element ref="oa:autPeriod" minOccurs="0"/>
				<xs:element ref="oa:autId" minOccurs="0"/>
				<xs:element ref="oa:autChoice" minOccurs="0"/>
				<xs:element ref="oa:autRes" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="authentication">
		<xs:annotation>
			<xs:documentation xml:lang="en">Parameters used for authentication purposes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:groupIdAut"/>
				<xs:element ref="oa:passwordAut"/>
				<xs:element ref="oa:userIdAut"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agency">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:agencyName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyEmail" type="xs:string"/>
	<xs:element name="agencyFax" type="xs:string"/>
	<xs:element name="agencyId" type="xs:string"/>
	<xs:element name="agencyName" type="xs:string"/>
	<xs:element name="agencyPhone" type="xs:string"/>
	<xs:element name="agencySubdivision" type="xs:string"/>
	<xs:element name="agencyType" type="xs:string"/>
	<xs:element name="agencyWebsiteUrl" type="xs:string"/>
	<xs:element name="address" type="xs:string"/>
	<xs:element name="autChoice" type="xs:string"/>
	<xs:element name="autId" type="xs:integer"/>
	<xs:element name="autPeriod" type="xs:integer"/>
	<xs:element name="autRes" type="xs:string"/>
	<xs:element name="autService" type="oa:autServiceType"/>
	<xs:element name="base64" type="xs:string"/>
	<xs:element name="branchEmail" type="xs:string"/>
	<xs:element name="branchFax" type="xs:string"/>
	<xs:element name="branchId" type="xs:string"/>
	<xs:element name="branchName" type="xs:string"/>
	<xs:element name="branchPhone" type="xs:string"/>
	<xs:element name="branchType" type="xs:string"/>
	<xs:element name="branchWebsiteUrl" type="xs:string"/>
	<xs:element name="callback" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">If outputType=json.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="city" type="xs:string"/>
	<xs:element name="condition">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="oa:language"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="date" type="xs:string"/>
	<xs:element name="email" type="xs:string"/>
	<xs:element name="encrypt" type="xs:string"/>
	<xs:element name="encryption">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:encrypt"/>
				<xs:element ref="oa:email" minOccurs="0"/>
				<xs:element ref="oa:agencyId" minOccurs="0"/>
				<xs:element ref="oa:key" minOccurs="0"/>
				<xs:element ref="oa:base64" minOccurs="0"/>
				<xs:element ref="oa:date" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="error" type="oa:errorType"/>
	<xs:element name="format" type="xs:string"/>
	<xs:element name="groupId" type="xs:string"/>
	<xs:element name="groupIdAut" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of the group (most often a library number) the user belongs to (for authentication purposes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="information">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId" minOccurs="0"/>
				<xs:element ref="oa:agencyName" minOccurs="0"/>
				<xs:element ref="oa:agencyPhone" minOccurs="0"/>
				<xs:element ref="oa:agencyFax" minOccurs="0"/>
				<xs:element ref="oa:agencyEmail" minOccurs="0"/>
				<xs:element ref="oa:agencyType" minOccurs="0"/>
				<xs:element ref="oa:branchId" minOccurs="0"/>
				<xs:element ref="oa:branchName" minOccurs="0"/>
				<xs:element ref="oa:branchPhone" minOccurs="0"/>
				<xs:element ref="oa:branchFax" minOccurs="0"/>
				<xs:element ref="oa:branchEmail" minOccurs="0"/>
				<xs:element ref="oa:branchType" minOccurs="0"/>
				<xs:element ref="oa:postalAddress" minOccurs="0"/>
				<xs:element ref="oa:postalCode" minOccurs="0"/>
				<xs:element ref="oa:city" minOccurs="0"/>
				<xs:element ref="oa:isil" minOccurs="0"/>
				<xs:element ref="oa:junction" minOccurs="0"/>
				<xs:element ref="oa:kvik" minOccurs="0"/>
				<xs:element ref="oa:lookupUrl" minOccurs="0"/>
				<xs:element ref="oa:norfri" minOccurs="0"/>
				<xs:element ref="oa:requestOrder" minOccurs="0"/>
				<xs:element ref="oa:sender" minOccurs="0"/>
				<xs:element ref="oa:replyToEmail" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="isil" type="xs:string"/>
	<xs:element name="junction" type="xs:string"/>
	<xs:element name="key" type="xs:string"/>
	<xs:element name="kvik" type="xs:string"/>
	<xs:element name="library">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="oa:agencyName"/>
						<xs:element ref="oa:agencyPhone" minOccurs="0"/>
						<xs:element ref="oa:agencyEmail" minOccurs="0"/>
						<xs:element ref="oa:postalAddress" minOccurs="0"/>
						<xs:element ref="oa:postalCode" minOccurs="0"/>
						<xs:element ref="oa:city" minOccurs="0"/>
						<xs:element ref="oa:agencyWebsiteUrl" minOccurs="0"/>
						<xs:element ref="oa:pickupAgency" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:element ref="oa:error"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="libraryType" type="oa:libraryTypeType"/>
	<xs:element name="lookupUrl" type="xs:string"/>
	<xs:element name="materialType" type="xs:integer"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="norfri" type="xs:string"/>
	<xs:element name="openingHours">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="oa:language"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderMaterialType" type="oa:orderMaterialTypeType"/>
	<xs:element name="itemParameterType" type="oa:itemParameterTypeType"/>
	<xs:element name="itemParameter">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicator whether a given itemParameterType is either required or optional for the given combination of orderType and orderMaterialType</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:itemParameterType"/>
				<xs:element ref="oa:parameterRequired"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderParameters">
		<xs:annotation>
			<xs:documentation xml:lang="en">List of item parameters are that are either required or optional for different types of orders (as set in the combination of orderType and orderMaterialType)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:orderMaterialType"/>
				<xs:element ref="oa:orderType"/>
				<xs:element ref="oa:itemParameter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderType" type="oa:orderTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type of order (ill, local)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orsAnswer" type="oa:ors"/>
	<xs:element name="orsCancel" type="oa:ors"/>
	<xs:element name="orsCancelReply" type="oa:ors"/>
	<xs:element name="orsCancelRequestUser" type="oa:ors"/>
	<xs:element name="orsEndUserRequest" type="oa:ors"/>
	<xs:element name="orsEndUserIllRequest" type="oa:ors"/>
	<xs:element name="orsItemRequest" type="oa:ors"/>
	<xs:element name="orsLookupUser" type="oa:ors"/>
	<xs:element name="orsRecall" type="oa:ors"/>
	<xs:element name="orsReceipt" type="oa:ors"/>
	<xs:element name="orsRenew" type="oa:ors"/>
	<xs:element name="orsRenewAnswer" type="oa:ors"/>
	<xs:element name="orsRenewItemUser" type="oa:ors"/>
	<xs:element name="orsShipping" type="oa:ors"/>
	<xs:element name="outputType" type="oa:outputTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">E.g. xml, json or php.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ownedByAgency" type="xs:boolean"/>
	<xs:element name="parameterRequired" type="xs:boolean"/>
	<xs:element name="passWord" type="xs:string"/>
	<xs:element name="passwordAut" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Password (for authentication purposes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="paymentUrl" type="xs:string"/>
	<xs:element name="pickupAgency">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:branchId"/>
				<xs:element ref="oa:branchName"/>
				<xs:element ref="oa:branchPhone"/>
				<xs:element ref="oa:branchEmail"/>
				<xs:element ref="oa:postalAddress" minOccurs="0"/>
				<xs:element ref="oa:postalCode" minOccurs="0"/>
				<xs:element ref="oa:city" minOccurs="0"/>
				<xs:element ref="oa:isil" minOccurs="0"/>
				<xs:element ref="oa:branchWebsiteUrl" minOccurs="0"/>
				<xs:element ref="oa:serviceDeclarationUrl" minOccurs="0"/>
				<xs:element ref="oa:registrationFormUrl" minOccurs="0"/>
				<xs:element ref="oa:paymentUrl" minOccurs="0"/>
				<xs:element ref="oa:userStatusUrl" minOccurs="0"/>
				<xs:element ref="oa:agencySubdivision" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="oa:openingHours" minOccurs="0" maxOccurs="2"/>
				<xs:element ref="oa:temporarilyClosed"/>
				<xs:element ref="oa:temporarilyClosedReason" minOccurs="0" maxOccurs="2"/>
				<xs:element ref="oa:pickupAllowed" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pickupAllowed" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicator whether materials can be picked up at the given branch/agency. If used in a request, only agencies/branches that matches it's value will be retrieved</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="postalAddress" type="xs:string"/>
	<xs:element name="postalCode" type="xs:string"/>
	<xs:element name="protocol" type="xs:string"/>
	<xs:element name="profile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:profileName"/>
				<xs:element ref="oa:source" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="profileName" type="xs:string"/>
	<xs:element name="provider" type="xs:string"/>
	<xs:element name="synchronous" type="xs:boolean"/>
	<xs:element name="reason">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="oa:language"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="registrationFormUrl" type="xs:string"/>
	<xs:element name="replyToEmail" type="xs:string"/>
	<xs:element name="requester" type="xs:string"/>
	<xs:element name="requestOrder" type="xs:string"/>
	<xs:element name="responder" type="xs:string"/>
	<xs:element name="sender" type="xs:string"/>
	<xs:element name="serverInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:responder"/>
				<xs:element ref="oa:isil"/>
				<xs:element ref="oa:address"/>
				<xs:element ref="oa:userId"/>
				<xs:element ref="oa:groupId"/>
				<xs:element ref="oa:passWord"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="service" type="oa:serviceType"/>
	<xs:element name="serviceDeclarationUrl" type="xs:string"/>
	<xs:element name="source">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:sourceName"/>
				<xs:element ref="oa:sourceOwner"/>
				<xs:element ref="oa:sourceFormat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourceFormat" type="xs:string"/>
	<xs:element name="sourceName" type="xs:string"/>
	<xs:element name="sourceOwner" type="xs:string"/>
	<xs:element name="subscription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:name"/>
				<xs:element ref="oa:url"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="temporarilyClosed" type="xs:boolean"/>
	<xs:element name="temporarilyClosedReason">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="oa:language"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="url" type="xs:string"/>
	<xs:element name="userId" type="xs:string"/>
	<xs:element name="userIdTxt">
		<xs:annotation>
			<xs:documentation xml:lang="en">Explanation text for user identifier (for use in end user interface)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="oa:language"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="userIdCpr"/>
	<xs:element name="userIdType" type="oa:userIdTypeType"/>
	<xs:element name="userIdTypeTxt">
		<xs:annotation>
			<xs:documentation xml:lang="en">Explanation text for userParameterType=userId (for use in end user interface)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="oa:language"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="userIdAut" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User identifier (for authentication purposes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userOrderParameters">
		<xs:annotation>
			<xs:documentation xml:lang="en">Returns explanation texts and information about user- and item parameters that are either required or optional for different types of orders.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:userParameter" maxOccurs="unbounded"/>
				<xs:element ref="oa:userIdTxt" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="oa:userIdTypeTxt" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="oa:orderParameters" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userParameterType" type="oa:userParameterTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="userParameter">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicatior whether a given userParameterType is required or optional for orders.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:userParameterType"/>
				<xs:element ref="oa:parameterRequired"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:userIdType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userStatusUrl" type="xs:string"/>
	<xs:element name="willReceive" type="xs:string"/>
	<xs:element name="willSend" type="xs:string"/>
	<xs:attribute name="language" type="oa:languageType"/>
	<xs:complexType name="ors">
		<xs:sequence>
			<xs:element ref="oa:responder"/>
			<xs:element ref="oa:willReceive"/>
			<xs:choice>
				<xs:element ref="oa:reason" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="oa:synchronous"/>
					<xs:element ref="oa:protocol" minOccurs="0"/>
					<xs:element ref="oa:address" minOccurs="0"/>
					<xs:element ref="oa:userId" minOccurs="0"/>
					<xs:element ref="oa:groupId" minOccurs="0"/>
					<xs:element ref="oa:passWord" minOccurs="0"/>
					<xs:element ref="oa:format" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="autServiceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="autPotential"/>
			<xs:enumeration value="autRequester"/>
			<xs:enumeration value="autProvider"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="errorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="authentication_error"/>
			<xs:enumeration value="service_unavailable"/>
			<xs:enumeration value="agency_not_found"/>
			<xs:enumeration value="error_in_request"/>
			<xs:enumeration value="no_agencies_found"/>
			<xs:enumeration value="no_userid_selected"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="languageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="dan"/>
			<xs:enumeration value="eng"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="libraryTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Alle"/>
			<xs:enumeration value="Folkebibliotek"/>
			<xs:enumeration value="Forskningsbibliotek"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderMaterialTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cdrom"/>
			<xs:enumeration value="monograph"/>
			<xs:enumeration value="music"/>
			<xs:enumeration value="newspaper"/>
			<xs:enumeration value="journal"/>
			<xs:enumeration value="video"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="itemParameterTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="author"/>
			<xs:enumeration value="issue"/>
			<xs:enumeration value="pagination"/>
			<xs:enumeration value="publicationDateOfComponent"/>
			<xs:enumeration value="publicationYear"/>
			<xs:enumeration value="title"/>
			<xs:enumeration value="titleOfComponent"/>
			<xs:enumeration value="volume"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ill"/>
			<xs:enumeration value="local"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="outputTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The types of output that can be returned by the service.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="xml"/>
			<xs:enumeration value="json"/>
			<xs:enumeration value="php"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="information"/>
			<xs:enumeration value="userOrderParameters"/>
			<xs:enumeration value="orsAnswer"/>
			<xs:enumeration value="orsCancel"/>
			<xs:enumeration value="orsCancelReply"/>
			<xs:enumeration value="orsCancelRequestUser"/>
			<xs:enumeration value="orsEndUserRequest"/>
			<xs:enumeration value="orsEndUserIllRequest"/>
			<xs:enumeration value="orsItemRequest"/>
			<xs:enumeration value="orsLookupUser"/>
			<xs:enumeration value="orsRecall"/>
			<xs:enumeration value="orsReceipt"/>
			<xs:enumeration value="orsRenew"/>
			<xs:enumeration value="orsRenewAnswer"/>
			<xs:enumeration value="orsRenewItemUser"/>
			<xs:enumeration value="orsShipping"/>
			<xs:enumeration value="serverInformation"/>
			<xs:enumeration value="userParameters"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="userIdTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cpr"/>
			<xs:enumeration value="common"/>
			<xs:enumeration value="barcode"/>
			<xs:enumeration value="cardno"/>
			<xs:enumeration value="optional"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="userParameterTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cpr"/>
			<xs:enumeration value="userId"/>
			<xs:enumeration value="barcode"/>
			<xs:enumeration value="cardno"/>
			<xs:enumeration value="pincode"/>
			<xs:enumeration value="userDateOfBirth"/>
			<xs:enumeration value="userName"/>
			<xs:enumeration value="userAddress"/>
			<xs:enumeration value="userMail"/>
			<xs:enumeration value="userTelephone"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
