openagency.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Dansk BiblioteksCenter (Dansk BiblioteksCenter) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://oss.dbc.dk/ns/openagency" targetNamespace="http://oss.dbc.dk/ns/openagency">
	<xs:annotation>
		<xs:documentation xml:lang="engg">Open Agency service</xs:documentation>
		<xs:documentation xml:lang="engg">This XML Schema describes the data and structure of data of the Open Agency service.</xs:documentation>
		<xs:documentation xml:lang="engg">This file is part of OpenAgency.
Copyright © 2009, Dansk Bibliotekscenter a/s,  Tempovej 7-11, DK-2750 Ballerup, Denmark. CVR: 15149043

OpenAgency is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

OpenAgency is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with OpenAgency.  If not, see http://www.gnu.org/licenses/</xs:documentation>
	</xs:annotation>
	<xs:element name="openAgencyAutomationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:autService"/>
				<xs:element ref="oa:materialType"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="openAgencyAutomationResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="oa:autPotential"/>
				<xs:element ref="oa:autProvider"/>
				<xs:element ref="oa:autRequester"/>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="openAgencyEncryptionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:email"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="openAgencyEncryptionResponse">
		<xs:complexType>
			<xs:choice>
				<xs:choice>
					<xs:element ref="oa:encryption" maxOccurs="unbounded"/>
					<xs:element ref="oa:error"/>
				</xs:choice>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="openAgencyNameListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:libraryType" minOccurs="0"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="openAgencyNameListResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="oa:agency" maxOccurs="unbounded"/>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="openAgencyProxyDomainsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="openAgencyProxyDomainsResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="oa:domains" maxOccurs="unbounded"/>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="openAgencyProxyIpRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:ip"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="openAgencyProxyIpResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="oa:agencyId" maxOccurs="unbounded"/>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="openAgencyServiceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:service"/>
				<xs:element ref="oa:callback" minOccurs="0"/>
				<xs:element ref="oa:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="openAgencyServiceResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="oa:serverInformation"/>
				<xs:element ref="oa:information"/>
				<xs:element ref="oa:orsAnswer"/>
				<xs:element ref="oa:orsCancelRequestUser"/>
				<xs:element ref="oa:orsEndUserRequest"/>
				<xs:element ref="oa:orsItemRequest"/>
				<xs:element ref="oa:orsLookupUser"/>
				<xs:element ref="oa:orsReceipt"/>
				<xs:element ref="oa:orsRenewItemUser"/>
				<xs:element ref="oa:orsShipping"/>
				<xs:element ref="oa:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="autPotential">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:materialType"/>
				<xs:element ref="oa:responder" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="autProvider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:provider"/>
				<xs:element ref="oa:materialType"/>
				<xs:element ref="oa:willReceive"/>
				<xs:element ref="oa:autPeriod"/>
				<xs:element ref="oa:autId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="autRequester">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:requester"/>
				<xs:element ref="oa:materialType"/>
				<xs:element ref="oa:willSend"/>
				<xs:element ref="oa:autPeriod"/>
				<xs:element ref="oa:autId"/>
				<xs:element ref="oa:autChoice"/>
				<xs:element ref="oa:autRes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agency">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:agencyName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyEmail" type="xs:string"/>
	<xs:element name="agencyFax" type="xs:string"/>
	<xs:element name="agencyId" type="xs:string"/>
	<xs:element name="agencyName" type="xs:string"/>
	<xs:element name="agencyPhone" type="xs:string"/>
	<xs:element name="agencyType" type="xs:string"/>
	<xs:element name="address" type="xs:string"/>
	<xs:element name="autChoice" type="xs:string"/>
	<xs:element name="autId" type="xs:integer"/>
	<xs:element name="autPeriod" type="xs:integer"/>
	<xs:element name="autRes" type="xs:string"/>
	<xs:element name="autService" type="oa:autServiceType"/>
	<xs:element name="base64" type="xs:string"/>
	<xs:element name="branchEmail" type="xs:string"/>
	<xs:element name="branchFax" type="xs:string"/>
	<xs:element name="branchId" type="xs:string"/>
	<xs:element name="branchName" type="xs:string"/>
	<xs:element name="branchPhone" type="xs:string"/>
	<xs:element name="branchType" type="xs:string"/>
	<xs:element name="callback" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="eng">If outputType=json.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="city" type="xs:string"/>
	<xs:element name="date" type="xs:date"/>
	<xs:element name="domain" type="xs:string"/>
	<xs:element name="domains">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:domain" maxOccurs="unbounded"/>
				<xs:choice>
					<xs:element ref="oa:ip"/>
					<xs:sequence>
						<xs:element ref="oa:userId"/>
						<xs:element ref="oa:passWord"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="email" type="xs:string"/>
	<xs:element name="encryption">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:email"/>
				<xs:element ref="oa:agencyId"/>
				<xs:element ref="oa:key"/>
				<xs:element ref="oa:base64"/>
				<xs:element ref="oa:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="error" type="oa:errorType"/>
	<xs:element name="format" type="xs:string"/>
	<xs:element name="groupId" type="xs:string"/>
	<xs:element name="information">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:agencyId" minOccurs="0"/>
				<xs:element ref="oa:agencyName" minOccurs="0"/>
				<xs:element ref="oa:agencyPhone" minOccurs="0"/>
				<xs:element ref="oa:agencyFax" minOccurs="0"/>
				<xs:element ref="oa:agencyEmail" minOccurs="0"/>
				<xs:element ref="oa:agencyType" minOccurs="0"/>
				<xs:element ref="oa:branchId" minOccurs="0"/>
				<xs:element ref="oa:branchName" minOccurs="0"/>
				<xs:element ref="oa:branchPhone" minOccurs="0"/>
				<xs:element ref="oa:branchFax" minOccurs="0"/>
				<xs:element ref="oa:branchEmail" minOccurs="0"/>
				<xs:element ref="oa:branchType" minOccurs="0"/>
				<xs:element ref="oa:postalAddress" minOccurs="0"/>
				<xs:element ref="oa:postalCode" minOccurs="0"/>
				<xs:element ref="oa:city" minOccurs="0"/>
				<xs:element ref="oa:isil" minOccurs="0"/>
				<xs:element ref="oa:junction" minOccurs="0"/>
				<xs:element ref="oa:kvik" minOccurs="0"/>
				<xs:element ref="oa:norfri" minOccurs="0"/>
				<xs:element ref="oa:sender" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ip" type="xs:string"/>
	<xs:element name="isil" type="xs:string"/>
	<xs:element name="junction" type="xs:string"/>
	<xs:element name="key" type="xs:string"/>
	<xs:element name="kvik" type="xs:string"/>
	<xs:element name="libraryType" type="oa:libraryTypeType"/>
	<xs:element name="materialType" type="xs:integer"/>
	<xs:element name="norfri" type="xs:string"/>
	<xs:element name="orsAnswer" type="oa:ors"/>
	<xs:element name="orsCancelRequestUser" type="oa:ors"/>
	<xs:element name="orsEndUserRequest" type="oa:ors"/>
	<xs:element name="orsItemRequest" type="oa:ors"/>
	<xs:element name="orsLookupUser" type="oa:ors"/>
	<xs:element name="orsReceipt" type="oa:ors"/>
	<xs:element name="orsRenewItemUser" type="oa:ors"/>
	<xs:element name="orsShipping" type="oa:ors"/>
	<xs:element name="outputType" type="oa:outputTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="eng">E.g. xml, json or php.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="passWord" type="xs:string"/>
	<xs:element name="postalAddress" type="xs:string"/>
	<xs:element name="postalCode" type="xs:string"/>
	<xs:element name="protocol" type="xs:string"/>
	<xs:element name="provider" type="xs:string"/>
	<xs:element name="requester" type="xs:string"/>
	<xs:element name="responder" type="xs:string"/>
	<xs:element name="sender" type="xs:string"/>
	<xs:element name="serverInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oa:responder"/>
				<xs:element ref="oa:isil"/>
				<xs:element ref="oa:address"/>
				<xs:element ref="oa:userId"/>
				<xs:element ref="oa:groupId"/>
				<xs:element ref="oa:passWord"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="service" type="oa:serviceType"/>
	<xs:element name="userId" type="xs:string"/>
	<xs:element name="willReceive" type="xs:string"/>
	<xs:element name="willSend" type="xs:string"/>
	<xs:complexType name="ors">
		<xs:sequence>
			<xs:element ref="oa:responder"/>
			<xs:element ref="oa:willReceive"/>
			<xs:element ref="oa:protocol" minOccurs="0"/>
			<xs:element ref="oa:address" minOccurs="0"/>
			<xs:element ref="oa:userId" minOccurs="0"/>
			<xs:element ref="oa:groupId" minOccurs="0"/>
			<xs:element ref="oa:passWord" minOccurs="0"/>
			<xs:element ref="oa:format" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="autServiceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="autPotential"/>
			<xs:enumeration value="autRequester"/>
			<xs:enumeration value="autProvider"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="errorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="service_unavailable"/>
			<xs:enumeration value="agency_not_found"/>
			<xs:enumeration value="error_in_request"/>
			<xs:enumeration value="no_agencies_found"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="libraryTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Folkebibliotek"/>
			<xs:enumeration value="Forskningsbibliotek"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="outputTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="eng">The types of output that can be returned by the service.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="xml"/>
			<xs:enumeration value="json"/>
			<xs:enumeration value="php"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="information"/>
			<xs:enumeration value="orsAnswer"/>
			<xs:enumeration value="orsCancelRequestUser"/>
			<xs:enumeration value="orsEndUserRequest"/>
			<xs:enumeration value="orsItemRequest"/>
			<xs:enumeration value="orsLookupUser"/>
			<xs:enumeration value="orsReceipt"/>
			<xs:enumeration value="orsRenewItemUser"/>
			<xs:enumeration value="orsShipping"/>
			<xs:enumeration value="serverInformation"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
